<header class="d-flex flex-row align-items-center justify-content-between p-3 px-4 mb-3 
    bg-white border-bottom fixed-top shadow-sm">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <img src="/assets/images/logo.png" alt="logo" class="logo" style="max-height: 70px;" routerLink="/">
      <nav class="my-2 text-uppercase fs-4">
        <a class="p-2" 
        routerLink="/" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">Home |</a>
        <a class="p-2" routerLink="/shop" routerLinkActive="active">Shop |</a>
        <a class="p-2" routerLink="/contact"routerLinkActive="active">Contact |</a>
      </nav>
   <div class="d-flex align-items-center">
    <a class="position-relative">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="50" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </svg>
        <div class="cart-no">5</div>
    </a>
    <a href="" class="btn btn-outline-secondary me-2">Login</a>
    <a href="" class="btn btn-outline-secondary me-3">Sign up</a>
   </div>
</header>